<section id="newsletter-in-footer-wrapper" class="py-12 sm:py-16 lg:py-20 newsletter-in-footer bg-secondary-50">
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="sm:max-w-lg sm:mx-auto lg:max-w-xl">
    <div class="text-center sm:max-w-lg sm:mx-auto lg:max-w-2xl lg:mx-0">
      <h4 class="text-2xl font-bold tracking-tight text-secondary-900 sm:text-3xl lg:text-4xl">Join other 3200+ marketers now!</h4>
      <p class="text-base font-normal text-secondary-600 mt-3 sm:text-base">Ready to take the next big step for your business?</p>
    </div>
    <div class="mt-6 lg:mt-8">
      <form method="post" action="/_feather/login" class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-end" id="newsletter-in-footer-wrapper-form">
        <div class="flex-1">
          <label for="email" class="sr-only">Email</label>
          <div>
            <input
              type="email"
              name="email"
              id="cta-email"
              placeholder="Enter your email address"
              class="focus:outlin-none block w-full bg-white text-base text-secondary-900 placeholder-secondary-500 rounded-cta-button-radius border border-secondary-300 px-4 py-3 focus:ring-1 focus:ring-primary-500 focus:border-primary-500"
              aria-label="Email"
              required=""
            />
          </div>
        </div>
        <button
          type="submit"
          name="_action"
          value="login"
          class="group inline-flex items-center justify-center bg-primary-500 text-base font-semibold text-primary-50 rounded-cta-button-radius px-6 py-3 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-secondary-50"
        >
          Subscribe to newsletter
          <svg class="external-link-icon h-4 w-4 rotate-45 transform ml-1.5 -mr-0.5" viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 17L17 7M17 7H7M17 7V17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </form>
      <p class="text-sm font-medium text-secondary-500 mt-4 text-center">No spam. Unsubscribe at any time.</p>
    </div>
  </div>
  <input type="hidden" name="publicationId" value="383413589895021125" form="newsletter-in-footer-wrapper-form" /><input type="hidden" name="webhookUrl" value="" form="newsletter-in-footer-wrapper-form" />
  <input type="hidden" name="webhookBearerToken" value="" form="newsletter-in-footer-wrapper-form" /><input type="hidden" name="newsletterEmailVerification" value="true" form="newsletter-in-footer-wrapper-form" />
</div>
</section>
