<section id="newsletter-in-footer-wrapper" class="newsletter py-12 sm:py-16 lg:py-20 newsletter-in-footer bg-secondary-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Render newsletter content -->
  </div>
</section>
