<div id="!w-full !text-lg !m-0 !p-0">
  <main class="notion light-mode notion-page selection:!bg-primary-500 selection:!text-primary-50 [--select-color-0:rgb(var(--primary-500))] prose-a:text-primary-500 prose-blockquote:!border-l-primary-500 prose-li:marker:text-primary-500 !w-full !text-lg !m-0 !p-0">
    <div class="notion-viewport"></div>
    <div class="notion-collection-page-properties">
      <div class="notion-collection-row">
        <div class="notion-collection-row-body"></div>
      </div>
    </div>
  </main>
</div>
