<%# app/views/authors/index.html.erb %>
<section class="flex min-h-screen flex-col justify-between">
  <%= render '/authors/index/hero' %>
  <%= render '/authors/index/authors' %>
  <%= render '/authors/index/newsletter' %>
</section>
